{% extends 'layout.html' %}
{% block title %}Blog | New Post{% endblock %}

{% block page_header %}
<h1 class="text-center">Edit Post</h1>
{% endblock %}

{% block content %}
<form action="" method="POST" role="form">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" class="btn btn-primary" name="submit" value="Update">	
</form>
{% endblock %}