{% extends 'layout.html' %}
{% block title %}Post | Detail {% endblock %}

{% block page_header %}
<h1 class="text-center">Post Detail</h1>
{% endblock %}

{% block content %}
	<h1>{{ post.title }}</h1>
	<p>
		{{ post.author }}
		{% if post.published_date %}
		<span class="date">{{ post.published_date }}</span>
		{% if user.is_authenticated %}
			<a class="btn-xs btn-default" href="{% url 'blog:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
	</p>
	{% endif %}
	<p>{{ post.text|linebreaksbr }}</p>
{% endblock %}