{% extends 'layout.html' %}
{% block title %}Posts | Blog{% endblock %}

{% block page_header %}
<h1 class="text-center">Post list</h1>
{% endblock %}

{% block content %}
    
    {% if user.is_authenticated %}
	   <a href="{% url 'blog:new_post' %}" class="btn-xs btn-primary"> <span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}

	{% for post in posts %}
    <div class="post">
        <div class="date">
            <p>published: {{ post.published_date }}</p>
        </div>
        <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
	{% endfor %}
{% endblock %}